streamlit
langchain
langchain-community
langchain-groq
langchain-openai
python-dotenv
beautifulsoup4
pypdf
unstructured
fake_useragent
duckduckgo-search
openai
groq
python-docx
pillow
scikit-learn
nltk
